/** body wash **/

.body-wash .spring-water {
    color: #009fde !important;
}

.body-wash .jasmine-lavender {
    color: #8d3594 !important;
}

.body-wash .coconut-water {
    color: #47b74a !important;
}

.body-wash .hibiscus-water {
    color: #e9006c !important;
}

.body-wash .coconut-mango {
    color: #f1552a !important
}

.body-wash .mountain-fresh {
    color: #0fa347 !important;
}

.body-wash .gold {
    color: #faa61a !important;
}

.body-wash .manuka-honey {
    color: #f89b1d !important;
}

.body-wash .sea-minerals {
    color: #25afc3 !important;
}

.body-wash .himalayan-salt {
    color: #f06799 !important;
}

.body-wash .marula-oil {
    color: #de7226 !important;
}

.body-wash .lavender-oil {
    color: #d76fac !important;
}

.body-wash .coconut-oil {
    color: #eca61c !important;
}

.body-wash .silk-magnolia {
    color: #ec4798 !important;
}

.body-wash .omega-moisture {
    color: #e4673f !important;
}

.body-wash .coconut-milk {
    color: #8d4402 !important;
}

.body-wash .triple-moisture {
    color: #f57910 !important;
}

.body-wash .greek-yogurt {
    color: #0f4c97 !important;
}

.body-wash .infinite-fresh {
    color: #005091 !important;
}

.body-wash .recharge {
    color: #22b13d !important;
}

.body-wash .hydro-fresh {
    color: #00a9eb !important;
}

.body-wash .max-moisture {
    color: #00a4be !important;
}

.body-wash .ultimate-clean {
    color: #c5702d !important;
}

.body-wash .odor-armor {
    color: #d99311 !important;
}

.body-wash .magnetic {
    color: #cd2030 !important;
}

.body-wash .fresh-react-sub-z {
    color: #0087c5 !important;
}

.body-wash .apple-rapids {
    color: #d84336 !important;
}

.body-wash .bubble-berry {
    color: #9269a8 !important;
}

.body-wash .watery-melon {
    color: #9ebd48 !important;
}

.body-wash .orange-splash {
    color: #f58220 !important;
}

.body-wash .peachy-clean {
    color: #ea8c5e !important
}




/** bar soap **/
.bar-soap .gold {
    color: #e8850d !important;
}

.bar-soap .spring-water {
    color: #06b5f2 !important;
}

.bar-soap .white {
    color: #027cd2 !important;
}

.bar-soap .mountain-fresh {
    color: #1ba23b !important;
}

.bar-soap .lavender-jasmine {
    color: #807cc7 !important;
}

.bar-soap .tropical-escape {
    color: #f1712b !important;
}

.bar-soap .icy-aloe {
    color: #5fb14c !important;
}

.bar-soap .manuka-honey {
    color: #f3a017 !important;
}

.bar-soap .coconut-milk {
    color: #765c40 !important;
}

.bar-soap .silk-magnolia {
    color: #e56284 !important;
}

.bar-soap .power-berries {
    color: #bc343c !important;
}

.bar-soap .coconut-water {
    color: #59a927 !important;
}

.bar-soap .marula-oil {
    color: #de7226 !important;
}

.bar-soap .white-tea {
    color: #1a9686 !important;
}

.bar-soap .omega-moisture {
    color: #ec782c !important;
}


/** hand soap **/
.hand-soap .manuka-honey {
    color: #f3ac48 !important;
}

.hand-soap .pearl-essence {
    color: #a7896c !important;
}

.hand-soap .rose-oil {
    color: #e74440 !important;
}

.hand-soap .fresh-lavender {
    color: #985fa7 !important;
}

.hand-soap .citrus-sunburst {
    color: #ef4b24 !important;
}

.hand-soap .spring-water {
    color: #009ddc !important;
}

.hand-soap .fresh-pear {
    color: #74b245 !important;
}

.hand-soap .soothing-white-tea {
    color: #a5a6ab !important;
}

.hand-soap .coconut-water {
    color: #7ab628 !important;
}

.hand-soap .omega-moisture {
    color: #f36c2c !important;
}

.hand-soap .power-berries {
    color: #c81552 !important;
}

.hand-soap .silk-magnolia {
    color: #e1699a !important;
}

.hand-soap .coconut-milk {
    color: #995736 !important;
}

.hand-soap .sprint-water {
    color: #2ba9c5 !important;
}

.hand-soap .gold {
    color: #eb9b16 !important;
}

.hand-soap .pomegranate-tangerine {
    color: #e44332 !important;
}

.hand-soap .aloe {
    color: #59a440 !important;
}

.hand-soap .sweet-watermelon {
    color: #e24884 !important;
}

.hand-soap .lavender-jasmine {
    color: #ac5aa3 !important;
}

.hand-soap .ocean-splash {
    color: #015fae !important;
}

.hand-soap .coconut-water-mango {
    color: #f36d31 !important;
}

.hand-soap .white-tea {
    color: #08a490 !important;
}

.hand-soap .miracle-marula-oil {
    color: #eb891d !important;
}

.hand-soap .himalayan-salt {
    color: #e65180 !important;
}

.hand-soap .cucumber-mint {
    color: #90b938 !important;
}

.hand-soap .cherry-blossom {
    color: #db4887 !important;
}

.hand-soap .soothing-care {
    color: #00adbf !important;
}

.hand-soap .power-berries {
    color: #c81552 !important;
}

.hand-soap .lemon-citrus {
    color: #f57a20 !important;
}

.hand-soap .almond-milk {
    color: #b54a23 !important;
}

.hand-soap .vanilla-honey {
    color: #0f4c97 !important;
}


/** seasonal **/

.seasonal .after-the-rain {
    color: #0aa299 !important;
}

.seasonal .garden-blossoms {
    color: #a262a2 !important;
}

.seasonal .paradise-limeade {
    color: #ce464b !important;
}

.seasonal .sunshine-blossoms {
    color: #d8a522 !important;
}

.seasonal .winter-frost {
    color: #00a255 !important;
}

.seasonal .iced-berries {
    color: #e55188 !important;
}

.seasonal .cranberry-xmas-Cheer {
    color: #d91d29 !important;
}

.seasonal .merry-mint {
    color: #44a94b !important;
}

.seasonal .jolly-gingerbread {
    color: #e77b03 !important;
}

.seasonal .jingle-bells {
    color: #0b9144 !important;
}

.seasonal .winter-snowflake {
    color: #009ed2 !important;
}

.seasonal .holiday-bliss {
    color: #d01324 !important;
}

.seasonal .ghost {
    color: #8d62a9 !important;
}

.seasonal .pumpkin {
    color: #e9701f !important;
}

.seasonal .cat {
    color: #006baa !important;
} 
